<h2>New author</h2>
<div class="card">
    <div class="card-body">
        <form action="/api/admin/authors" method="POST">
            <label for="author">Author:</label>
                <input type="text" name="author" id="article" placeholder="Author's name" class="form-control">
                <br>
            <label for="picture">Picture:</label>
                <input type="text" name="picture" id="picture" placeholder="Author's picture" class="form-control">
                <br>
            <button type="submit" class="btn btn-success">Add author</button>
        </form>
    </div>
</div>