<h2>Article's list</h2>

{{#each results}}
    Author: {{ author }}
    Title: {{ title }}
    <hr>
{{/each}}

{{!-- <a href="/articles/add"><button class="btn btn-success">New article</button></a> --}}